<%- include('../partials/h-music.ejs') %>

<div class="scroll" style="width: 100%; height: 600px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888">    
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Add Music</h1>
        <p>
          <a href="/admin/addmusic" class="btn btn-primary my-2">AddMusic</a>

        </p>
      </div>
    </div>
</section>

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% music.forEach(function(music){ %>
      <div class="col">
        <div class="card shadow-sm">

          <div class="card-body">
            <h5 class="card-title"><%= music.song %></h5>
            <p class="card-text"><%= music.name %></p>
            
            <div class="d-flex justify-content-between">
              <% if(currentUser && currentUser.isadmin){ %>
                <a href='/admin/<%= music._id %>/edit' class="btn btn-warning">Edit</a>
                <form id = 'delete-form' action = '/admin/<%= music._id %>?_method=DELETE' method='POST'>
                    <button type='submit' class="btn btn-danger" onclick="return confirm('Are you sure you want to Remove?');">Delete</button>
                </form>
             <% } %>  
             
            </div>
          </div>
        </div>
        <br>
      </div>
    <% }); %>
    </div>
  </div>
 
</div>
  


<%- include('../partials/footer.ejs') %>