<%- include('partials/h-song.ejs') %>
<div class="scroll" style="width: 100%; height: 600px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888"> 
<br><br>
<div class="container">
  
<% music.forEach(function(music){ %>

      <!-- Default dropend button -->
<div class="btn-group dropend " style="width: 40rem; float: left;">
  <button type="button" class="w-100 btn " data-bs-toggle="dropdown" aria-expanded="false">
    <div class="card mb-3" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%= music.image %> " width="200px" height="200px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><%=music.song%></h3>
            <h5 class="card-title"><a href="/" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg></a>&nbsp;&nbsp;&nbsp;<%=music.name%></h5>
          
          </div>
        </div>
      </div>
    </div>
  </button>
  <ul class="dropdown-menu">
    <div class="container">
      <div class="scroll" style="width: 100%; height: 400px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888"> 
      <div class="card" style="width: 30rem; align-items: center;">
        <div class="card-body">
          <h4>Lysics</h4>
          <p class="card-text"><%=music.lysics%></p>
        </div>
      </div>
      </div>
      </div>
  </ul>
</div>

    <% }); %>
</div>



</div>







<%- include('partials/footer.ejs') %>