<%- include('../partials/h-prof.ejs') %>

<div class="scroll" style="width: 100%; height: 600px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888"> 
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw"><strong>PROFILE</strong></h1>
      <br>
      <img src= '<%= user.profileimg %>' width = '200px' height="200px" class="rounded-circle" >
      <p>
        <h1><%= user.firstname %></h1>
      </p>
      <br>
      <p> 
        <a href='mailto: <%= user.email %>'> <%= user.email %> </a>
      </p>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>