<%- include('../partials/h-edit.ejs') %>

<div class="container">
  <br>
  <div class="card w-100" >
    <div class="card-body">
      <form action="/album/<%= album._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Statue name</label>
          <input type="text" class="form-control" name="album[name]" placeholder="<%= album.name %>" value="<%= album.name %>">
        </div>
        <div class="mb-3">
          <label class="form-label">Image</label>
          <img src="<%= album.image %>" width="300px">
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
        <a href="/album">Go Back</a>
      </form>
    </div>
  </div>
</div>


<%- include('../partials/footer.ejs') %>