<%- include('../partials/h-edit.ejs') %>

<div class="container">

  <br>
  <div class="card w-100">
    <div class="card-body">
      <form action="/artist/<%= artist._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Statue name</label>
          <input type="text" class="form-control" name="artist[name]" placeholder="<%= artist.name %>" value="<%= artist.name %>">
        </div>
        <div class="mb-3">
          <label class="form-label">Image</label>
          <img src="<%= artist.image %>" width="300px">
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
        <a href="/artist">Go Back</a>
      </form>
    </div>
  </div>
</div>


<%- include('../partials/footer.ejs') %>