<%- include('../partials/h-show.ejs') %>


<div class="scroll" style="width: 100%; height: 595px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <p><%=artist.name%></p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
<br>
  <div class="container" align="center">
<% music.forEach(function(music){ %>
    <div class="card w-50">
      <a href="/artist/<%= artist.name %>" class="btn">
      <div class="card-body" >
        
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>&nbsp;&nbsp;<h5 class="card-title"><%=music.song%></h5>
     
      </div>
      </a>
    </div> 
    <% }); %>
  
    
  
  </div>
  <br>




 
<%- include('../partials/footer.ejs') %>